:root {
    --primary-color: #23425f;
    --secondary-color: #25abae;
}

#root {
    left: auto;
    right: auto;
    top: 0;
}
.mainFrame {
    min-height: 100vh;
    width: 100%;
    left: 0;
}
.truecontent {
    margin-top: 15px;
}
.bold2
{
font-weight: bold;
}

.postlink
{
color: lightblue;
transition: 0.3s;
}
.postlink:hover
{
color: blue;
}

.mainContent {
    /*display: flex;*/
    /*flex-direction: row;*/
}
.externalApi {
    height: 450px;
    font-family: Arial;
    color: white;
    font-size: 15px;
    text-align: center;
}

.post {
    margin-left: 5px;
    padding: 5px;
    background: var(--secondary-color);
    color: black;
    margin-top: 15px;
    box-shadow: 0px 0px 5px var(--secondary-color);
    font-family: Arial;
    font-size: 15px;
}
.post_flen
{
display: block;
margin-left: 5px;
padding: 5px;

width: 90%;
background: var(--secondary-color);
margin-top: 15px;
box-shadow: 0px 0px 5px var(--secondary-color);
font-family: Arial;
font-size: 15px;
}
.postdate
{
color: black;
cursor: default;
}
.description
{
    color: black;
}
.pimg
{
margin-top: 5px;
padding-top: 5px;
padding: 1px;
border-top: 1px solid var(--secondary-color);
padding: 1px;
}

@keyframes bar_anim {
0% {
left: 100%;
}
25% {
left: 0%;
}
50% {
left: 0%;
}
100% {
left: -100%;
}

}

.bar_static {
text-align: center;
font-size: 20px;
display: block;
color: white;
position: relative;
}

.onetabColored
{
height: 450px;
background: var(--secondary-color);
margin-top: 15px;
box-shadow: 0px 0px 5px var(--secondary-color);
}
.zrzutka
{
position: relative;
width: 100%;
margin-top: 10px;
}

.personRow
{
    margin-left: 100px;
    height:96px;
}
.ekipaImg
{
    position: absolute;
}

.ftext1
{
    border: none;
    border-bottom: 1px solid gray;
    margin-bottom: 1px;
    background: lightgray;
}
.fbtn1
{
    border: 1px solid gray;
    background: lightgray;
    font-weight: bold;
    color: black;
}
.fbtn1:hover
{
    background: gray;
}
.panelIcon:hover
{
    opacity: 0.8;
}
.ftext2
{
    width: 100%;
    border: 1px solid gray;
    background: lightgray;
    color: black;
    resize: vertical;
}

.topBar
{
    overflow: hidden;
    margin-top: 28px;
}

.topBar div * {
    margin-top: 5px;
    margin-bottom: 5px;
}

.topBar a
{
    color:white;
    text-decoration: none;
    margin-right: 10px;
    transition: 0.3s;
}

.topBar span {
    margin-left: 5px;
}