@charset "utf-8";
$primary-color: #23425f;
$secondary-color: #159f9f;
$tertiary-color: #25828f;
$background: $primary-color;
$body-background-color: $primary-color;
$navbar-background-color: $secondary-color;
$navbar-item-hover-color: $primary-color;
$title-color: white;
$divider-color: white;
$footer-background-color: $primary-color;
$footer-padding: 3rem 1.5rem 3rem;
// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";
@import "../../node_modules/bulma/sass/layout/all.sass";
@import "../../node_modules/bulma-extensions/bulma-divider/dist/css/bulma-divider.sass";

.main {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.button.is-primary {
  background-color: $primary-color;
}

.button.is-primary:hover {
  background-color: $primary-color;
}

.button.is-primary:active {
  background-color: $tertiary-color;
}

p, span, label {
  color: white;
}

.dropzone {
  border: 2px $secondary-color solid;
  border-radius: 20px;
  background: repeating-linear-gradient(45deg, $primary-color 1px, $secondary-color 5px);
  cursor: default;
}

.truecontent
{
  text-align: left;
  margin-top: 1rem;
}

.title {
  text-align: left;
  margin-top: 0.7rem;
}

.dropzone-text {
  text-align: center;
}

.subtitle {
  color: white;
  margin-top: 0.7rem;
}

.bold2
{
  font-weight: bold;
}

.barTitle
{
  font-family: Sans;
  position: absolute;
  top: 0.7rem;
  font-weight: bold;
  font-size: 23px;
  margin-left: 0.7rem;
}

.writerForm * {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.bgimg
{
  width: 100%;
  height: 25rem;
}

.zrzutka
{
  position: relative;
  width: 100%;
  margin-top: 0.7rem;
}

.uploadedFilesItem {
  border: 2px solid $secondary-color;
  border-radius: 20px;
  margin: 0.7rem 0 0.3rem 0.3rem;
  position: relative;
}
.uploadedFilesItemContent {
  margin: 0.3rem;
  padding: 0.3rem;
}
.uploadedFilesItemOverlayWrapper {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.uploadedFilesItemOverlay {
  background-color: $secondary-color;
  border-radius: 20px;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  position: absolute;
}
.uploadedFilesItemOverlayContent {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.uploadedFilesItemDelete:hover {
  cursor: pointer;
}
.uploadedFilesItemDelete:after {
  height: 3rem;
  width: 3rem;
  border: 2px solid white;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  content: "\00D7";
  color: white;
  font-family: helvetica, arial, sans-serif;
  font-size: 50px;
}
.deleteFile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.arrowRight:hover, .arrowLeft:hover {
  cursor: pointer;
}
.dialogMessage {
  color: $primary-color;
  margin-bottom: 0.7rem;
}
.postsItem {
  border: 2px solid $secondary-color;
  border-radius: 10px;
}