<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
    <link rel="stylesheet" href="/templates/error/styles.css"/>
    <title>Pogoda24/7 - Page Not Found</title>
</head>
<body>
<section class="section">
    <div class="container centered main">
        <p class="mainText">Błąd 404 - nie odnaleziono strony.</p>
        <a href="/" class="link">Przejdź do strony głównej</a>
    </div>
</section>
</body>
</html>