@charset "utf-8";
$primary-color: #23425f;
$secondary-color: #25abae;
$background: $primary-color;
$body-background-color: $primary-color;
$navbar-background-color: $secondary-color;
$navbar-item-hover-color: $primary-color;
$footer-background-color: $primary-color;
$footer-padding: 3rem 1.5rem 3rem;
$gap: 64px;
$desktop: 960px + (2 * $gap);
// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";
@import "../../node_modules/bulma/sass/layout/all.sass";
@import "../../node_modules/bulma-extensions/bulma-divider/dist/css/bulma-divider.sass";

:root {
  --primary-color: #23425f;
  --secondary-color: #25abae;
  --tertiary-color: #25828f;
}
.main {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
p, span, label {
  color: white;
}
.truecontent {
  margin-top: 15px;
}
.bold2
{
  font-weight: bold;
}

.postlink
{
  color: lightblue;
  transition: 0.3s;
}
.postlink:hover
{
  color: blue;
}

.externalApi {
  height: 100%;
  font-family: Arial;
  color: white;
  font-size: 15px;
  text-align: center;
}

.post {
  margin-left: 5px;
  padding: 5px;
  background: var(--secondary-color);
  color: black;
  margin-top: 15px;
  box-shadow: 0px 0px 5px var(--secondary-color);
  font-family: Arial;
  font-size: 15px;
}
.post_flen
{
  display: block;
  margin-left: 5px;
  padding: 5px;

  width: 90%;
  background: var(--secondary-color);
  margin-top: 15px;
  box-shadow: 0px 0px 5px var(--secondary-color);
  font-family: Arial;
  font-size: 15px;
}
.postdate
{
  color: black;
  cursor: default;
}
.description
{
  color: black;
}
.pimg
{
  margin-top: 5px;
  padding-top: 5px;
  padding: 1px;
  border-top: 1px solid var(--secondary-color);
  padding: 1px;
}

@keyframes bar_anim {
  0% {
    left: 100%;
  }
  25% {
    left: 0%;
  }
  50% {
    left: 0%;
  }
  100% {
    left: -100%;
  }

}

.personRow
{
  margin-left: 100px;
  height:96px;
}
.ekipaImg
{
  position: absolute;
}

.topBar
{
  overflow: hidden;
  margin-top: 28px;
}

.topBar div * {
  margin-top: 5px;
  margin-bottom: 5px;
}

.topBar a
{
  color:white;
  text-decoration: none;
  margin-right: 10px;
  transition: 0.4s;
}
