@charset "utf-8";
$primary-color: #23425f;
$secondary-color: #25a5a5;
$background: $primary-color;
$body-background-color: $primary-color;
$navbar-background-color: $secondary-color;
$navbar-item-hover-color: $primary-color;
$divider-background-color: black;
$divider-thickness: 2px;
$gap: 64px;
$desktop: 960px + (2 * $gap);
$navbar-item-img-max-height: none;
// Import only what you need from Bulma
@import '../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../node_modules/bulma/sass/utilities/initial-variables.sass';
@import '../../node_modules/bulma/sass/base/_all.sass';
@import '../../node_modules/bulma/sass/elements/button.sass';
@import '../../node_modules/bulma/sass/elements/container.sass';
@import '../../node_modules/bulma/sass/elements/title.sass';
@import '../../node_modules/bulma/sass/components/navbar.sass';
@import '../../node_modules/bulma/sass/layout/section.sass';
@import '../../node_modules/bulma/sass/layout/footer.sass';
@import '../../node_modules/bulma/sass/grid/columns.sass';
@import '../../node_modules/bulma-extensions/bulma-divider/dist/css/bulma-divider.sass';

body {
    background: url('../img/logo_bg.jpg') no-repeat fixed;
    //background-color: $primary-color;
    background-size: 100vw 100%;
}

.main {
    min-width: 100%;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainContent {
    padding: 2rem 3rem 1.4rem 3rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p,
span,
label {
    color: black;
    font-size: 1em;
}

.noPosts {
    font-size: 1.2em;
    color: white;
}
.columns {
    flex-grow: 1;
}

.basicLink {
    color: black;
    transition: 0.3s;
    text-decoration: underline;
}

.basicLink:hover {
    transition: 0.3s;
    color: $primary-color;
}

.posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post {
    margin-top: 1rem;
    padding: 0.6rem;
    background: white;
    box-shadow: 0 0 5px $secondary-color;
}

.postLink {
    color: black;
    transition: 0.3s;
}

.postLink:hover {
    color: $primary-color;
    transition: 0.3s;
}

.postdate {
    color: #222222;
    cursor: default;
    float: right;
    font-size: 14px;
}

.postTitle {
    font-size: 20px;
    text-align: center;
    margin-top: 0.35rem;
    margin-bottom: 1rem;
    word-wrap: break-word;
}

.postDescription {
    font-size: 16px;
    text-align: left;
}

.forecastMapList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.forecastMapList * {
    margin: 0.7rem;
}

.forecastMapImage {
    width: 45%;
    cursor: pointer;
}

.externalApi {
    height: 100%;
    color: white;
    font-size: 15px;
    text-align: center;
    margin-top: 1rem;
}

@keyframes bar_anim {
    0% {
        left: 100%;
    }
    25% {
        left: 0%;
    }
    50% {
        left: 0%;
    }
    100% {
        left: -100%;
    }
}

.topBar {
    overflow: hidden;
    position: relative;
    width: 100%;
    min-height: 4rem;
}

.topBar div * :not(.logoImg) {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

.topBar a, .topBar span {
    color: white;
    text-decoration: none;
    margin-right: 0.5rem;
    transition: 0.4s;
}
.topBar a:hover {
    color: $primary-color;
}

.logoImg {
    display: block;
    height: 3.1rem;
    width: 3.2rem;
}
.externalApiImg {
    margin-bottom: 1.4rem;
}
.ekipa {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.ekipa * {
    font-size: 17px;
}
.ekipaItem {
    border: solid 2px $primary-color;
    border-radius: 10px;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.ekipaImg {
    margin: 0.7rem;
    min-width: 6.5rem;
    max-width: 6.5rem;
    min-height: 6.5rem;
    max-height: 6.5rem;
}
.ekipaPersonDescription {
    text-align: start;
    margin: 0.7rem;
}

.sun-editor-editable, .sun-editor-editable * {
    background-color: transparent;
    font-family: $family-sans-serif;
    color: white;
    font-size: 1em;
}

.sun-editor-editable figure figcaption {
    background-color: transparent;
    font-size: 0.8rem;
    font-style: italic;
}

.sun-editor-editable[contenteditable=true] .se-component {
    outline: none;
}
