@import '../../sass/main';

.externalApi {
  padding: 0 1.5rem;
  height: 100%;
  color: $primary-font-color;
  text-align: center;
}

.externalApi p {
  font-size: $font-size-medium;
  margin: 0 0.5rem 0.5rem 0.5rem;
}

