@import "../../../../shared/scss/main";

.main {
  color: white;
}

.cities {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.city, .dateAndDaySelectDiv {
  flex: 0 1 220px;
  margin: 0.5rem;
  padding: 10px;
  border: $secondary-color 2px solid;
  border-radius: 1rem;
}

.break-flex {
  flex-basis: 100%;
  height: 0;
}

.iconSelectItemImgDiv {
  width: 50px;
  height: 50px;
}

.iconSelectItem {
  background-color: $primary-color;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.generatorButton {
  width: 100%;
  font-size: 1.2rem;
}