@import "../../sass/main";

.pagingBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem 0 0.7rem 0;
}

.pagingBar * {
  margin: 0.6rem;
}

.pagingBar .active {
  background-color: $secondary-color;
  box-shadow: 0 0 5px $secondary-color;
}

.pagingBar li {
  display: table;
  box-shadow: 0 0 3px $primary-color;
  border-radius: 0.3rem;
}

.pagingBar li a {
  color: black;
  padding: 5px 10px;
  transition: 0.3s;
  display: table-cell;
  vertical-align: middle;
}

.pagingBar li:hover {
  cursor: pointer;
}

.pagingBar li:hover a {
  color: $secondary-color;
  transition: 0.3s;
}

.pagingBarPrevious i, .pagingBarNext i {
  margin: 0 5px;
}

.previous.disabled, .next.disabled {
  display: none;
}

.pagingBar li.active a {
  color: black;
}

.pagingBar li.active:hover, .pagingBar li.active:hover a {
  color: black;
  cursor: default;
}

.pagination {
  text-align: center;
}