<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
    <link rel="stylesheet" href="templates/login/loginPage.css"/>
    <link rel="shortcut icon" href="templates/login/favicon.png">
<title>Pogoda24/7 - Login Page</title>
</head>
<body>
<section class="section">
    <div class="container mainLoginWindow">
        <span class="logoTitle">Pogoda 24/7</span>
        <div style="max-width: 400px; align-content: center;" class="form" id="mainForm">
            <form action="/login" method="post">
                <label class="label">Login: </label>
                <input class="input" id="username" name="username" type="text" placeholder="Login"
                       autofocus="autofocus" maxlength="100"/><br/>
                <label class="label">Hasło:</label>
                <input class="input" name="password" id="password" type="password" placeholder="Hasło" maxlength="100"/><br/>
                <input class="button is-primary" style="margin-top: 10px" type="submit" name="submit" value="Zaloguj"/>
            </form>
        </div>
    </div>
</section>
<script>
    window.onload = function () {
        const href = location.href;
        let queryParams = href.substr(href.indexOf('?') + 1, href.length).split('&');
        for (let i = 0; i < queryParams.length; i++) {
            let pair = queryParams[i].split('=');
            if (pair[0] === 'error') {
                if (decodeURIComponent(pair[1]) === 'true') {
                    let p = document.createElement("p");
                    p.innerHTML = "Nieprawidłowe dane logowania";
                    p.classList.add("loginFailMessage");
                    document.getElementById('mainForm').appendChild(p);
                }
                break;
            }
        }
    };
</script>
</body>
</html>